
body {
    font-family: "Ojuju", sans-serif, monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.fontBlack {
    font-family: sans-serif, monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#bgColor {
    background-color: rgba(113, 91, 68, 0.639);
}
div, span {
    color:rgb(39, 255, 183);
}
.ajw {
    color:rgb(24, 124, 255);
}
