/* 
√ Colores: #000814_Negro ; #0077b6_AzulJw ; rgb(242, 255, 253)_Blanco #6a994e_Verde ; #c8b6ffaa_Rosa ; #0582ca77_FondoAzul.
√ Font: "Ojuju", sans-serif, monospace ; Helvetica, sans-serif .
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --fuente-Size-Bigger: 23px;
  --fuente-Style-Bold: bold;

  --font: "Ojuju", sans-serif, monospace;
  --font-JW: Helvetica, sans-serif;

  --color-Negro: #000814;
  --color-Blanco: rgb(242, 255, 253);
  --color-Rosa: #c8b6ff;
  --color-AzulJW: #0077b6;
  --color-Fondo-Azul: #a2d2ff;
  --color-Rosa-Transp: #c8b6ffaa;
}

/* Structure */
body {
  font-family: var(--font);
  font-weight: 200;
  font-style: normal;

  background-color: var(--color-Fondo-Azul);
  color: var(--color-Negro);

  display: flex;
  flex-wrap: wrap;
  gap: 0.1px;
}

header,
nav,
main,
aside,
footer {
  background-color: var(--color-Rosa-Transp);
  text-align: justify;
}
header {
  border-radius: 20px;
  border-bottom: 0.6px solid var(--color-Negro);
  height: auto;
  min-height: 60px;
  height: 40px;
  width: 100%;
}
nav {
  background-color: var(--color-Fondo-Azul);
  font-size: var(--fuente-Size-Bigger);
  font-weight: bold;
  border: 0.6px solid var(--color-Negro);
  height: 40px;
  position: fixed;
  margin-top: 59px;
  z-index: 1;
  border-radius: 20px;
}
main {
  border-top-left-radius: 20px;
  height: auto;
  min-height: 800px;
  width: 75%;
  position: relative;
  padding-top: 40px;
}
aside {
  border-top-right-radius: 20px;
  border-left: 0.6px solid var(--color-Negro);
  height: auto;
  position: relative;
  padding-top: 40px;
  text-align: right;
}
footer {
  border-top: 0.6px solid var(--color-Negro);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: auto;
  min-height: 60px;
  width: 100%;
  position: relative;
}

.fontAnchor {
  font-weight: bolder;
  text-decoration: none;
}
.fontJW {
  font-family: var(--font-JW);
  color: var(--color-AzulJW);
}
.contenedorSection-Main {
  border: 1px solid var(--color-Negro);
  height: auto;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.sectionElement-Main {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.circulo {
  border-radius: 40% 40% 40% 40%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
img {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 250px;
}
.movimiento:hover {
  animation: rotar 3s;
}
@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
/* Teléfonos */
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    font-weight: 300;
    margin: 5% 10% 20% 10%;
  }
  nav {
    min-width: 80%;
  }
  aside {
    min-width: 24.95%;
  }
  img {
    margin-top: 1000px;
  }
}
/* Tabletas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px;
    margin: 5% 8% 10% 8%;
  }
  nav {
    min-width: 80%;
  }
  aside {
    min-width: 24.95%;
  }
}
/* Computadores */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    margin: 2% 8% 10% 8%;
  }
  nav {
    min-width: 84%;
  }
  aside {
    min-width: 24.99%;
  }
}
